@page
@model OneProject.WebSite.Pages.PortfolioDetail.IndexModel
@using OneProject.WebSite.Components
@{
    ViewData["url"] = HttpContext.Request.Path.ToString();
}
<!-- Breadcrumb Area -->
@(await Html.RenderComponentAsync<Breadcrumb>(RenderMode.ServerPrerendered, new { Title = Model.portfolio.Name, Url = ViewData["url"] }));
<!--// Breadcrumb Area -->
<h1>@ViewData["url"]</h1>